@charset "UTF-8";

body {
	background-color: #DDD6C9;
	font-family: 'Montserrat', sans-serif;
}

#cartFrm table {
	margin: auto;
	padding: 50px;
	width: 500px;
	height: 600px;
}

#cartFrm input[type=button] {
	border-radius: 30px;
	width: 415px;
	height: 40px;
	background: #A6BB8D;
	color: white;
	border: none;
	font-size: 16px;
}

input#pay {
	display: block;
	border-radius: 30px;
	width: 415px;
	height: 40px;
	background-color: #3C6255;
	color: white;
	border: none;
	font-size: 16px;
	margin-top: 2%;
	margin-bottom: 2%;
}

#tbl-cart {
	background: white;
	border-radius: 30px;
}

#cart-col td {
	font-size: 20px;
}

td {
	text-align: center;
	padding: 10px;
	color: #3c6255;
}

tfoot {
	border-collapse: separate;
	background-color: #E8EAE6;
	font-size: 20px;
	font-style: bold;
}

tfoot :first-child {
	border-radius: 0px 0px 0px 30px;
}

tfoot :last-child {
	border-radius: 0px 0px 30px 0px;
}