@charset "UTF-8";
/* 로그인 컨테이너 */
section#login-container {height: 880px;}
#loginFrm table{margin:auto; padding: 50px; width: 500px; height: 600px;}
#loginFrm input[type=submit]{border-radius: 30px; width:415px;
    height:40px; background:#A6BB8D; color:white; border: none; font-size:16px;}
#loginFrm input[type=button]{border-radius: 30px; width:415px; 
    height:40px; background:#A6BB8D; color: white; border: none; font-size:16px;}
#loginFrm input[type=text]{border-radius: 30px; width:400px; height:30px; border:0.5px solid gray;}
#loginFrm input[type=password]{border-radius: 30px; width:400px; height:30px; border:0.5px solid gray;}
#loginFrm input[type=checkbox]{width:18px; height:18px; background: #3C6255; accent-color: #3C6255; }
form.wrap {position:absolute; margin:20px auto; border:none; width: 100%; height:600px; background:#FFFBE9;} 

