@charset "UTF-8";
/* 회원가입페이지 */
section#enroll-container {text-align:center;}
section#enroll-container input{margin:3px;}
section#enroll-container table{margin: 10px auto; padding: 200px; width: 70%; height: 700px;}
section#enroll-container table th {padding:0 10px; text-align:right;}
section#enroll-container table td {padding:0 10px; text-align:left;}
section#enroll-container sup{color: red;}