@charset "UTF-8";

section#content {
	width: 1200px;
	padding: 0 0 100px 0;
}

/* 페이지바 */
div#pagebar{
	margin-top:66px; 
	text-align:center; 
	}
div#pagebar .page-btn{
	display: inline-block;
	width: 50px; height: 50px;
	color: #100F0F; 
	margin-right: 5px;
	background-color: white;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	}

div#pagebar :hover{
	color: white; 
	background-color: #3C6255;
}


/* 상단 꾸미기영역 */
.addition {
	margin: 10px auto;
	position: relative;
	text-align: center;
}
.addition img {
	vertical-align: middle;
}
.add-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	color: #ffffff;
}

/* 카테고리 */
.category-list {
	text-align: center;
	padding: 0px;
	margin: 0 auto;
	top: -34px;
	position: relative; /* 전체위치정렬 */
}
.category-list ul{
	list-style: none;
	display: table;
	padding: 0px;
	margin: auto;
	box-shadow: 0px 1px 16px #2d2d2d5c;
}
.category-list ul li{
	float: left;
	text-align: center;
	height: 57px;
	width: 90px;
	background-color: #ffffff;
}
.category-list ul li span {
	display:  block;
	padding-top: 19px;
	text-decoration: none;
	color: #636363;
	font-size: 15px;
}
.category-list ul li:first-child{
	border-right: 2px solid #E8EAE6;
	font-weight: bold;
	padding-left: 14px;
	padding-right: 30px;
	width: 60px;
}
.category-list ul li:first-child span{
	color: #100F0F;
}
.pad1{
	padding: 0 0 0 5px;
}
.pad2{
	padding: 0 20px;
}
.category-list ul li:last-child{
	border-left: 2px solid #E8EAE6;
	font-weight: bold;
	padding: 0 5px;
}
.category-list ul li:last-child span{
	color: #100F0F;
}
.material-symbols-outlined {
	position: relative;
	left: 25px;
	top: -36px;
	font-variation-settings:
	  'FILL' 0,
	  'wght' 600,
	  'GRAD' 0,
	  'opsz' 48
}
.category-list ul li:hover span {
	font-weight: bold;
	color: #100F0F;
}

/* 제품목록 */
.prod-cont img {
	width: 120px;
	padding-top: 15px;
}

.product-list{
	padding-top: 35px;
}
.prod-cont{
	border-radius: 10%;
	background-color: white; 
	height: 270px;
	width: 225px;
	margin: 5px;
	border: 2px solid #E8EAE6;
}
.prod-cont:hover {
	border: 2px solid #A6BB8D;
}

#coffee-list {
	width: 900px;
	border-collapse: collapse;
}
#coffee-list td {
	padding: 0px;
	text-align: center;
	width: 225px;
	height: 270px;
}
.thumbnail{
	padding-top: 30px;
}
.prod-name{
	padding-top: 20px;
	color: #100F0F;
	font-weight: bold;
	font-size: 14px;
}
.price{
	padding-top: 10px;
	font-weight: bold;
	color: #61876E;
}
